{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Yohannes Ayana</title>
	<link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>	
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100 border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/yohannes.png' %}" >
					<hr>
					<h4>Hi I'm Yohannes!</h4>
					<p>I love coding, data science, doing research and collaborating</p>
				</div>	
			</div>
			<div class="col-md-9">
				<div class="card card-body h-100 border-info">
					<h4>My Journey as Electrical Engineer</h4>
					<hr>	
					<p>I graduated from Bahir Dar Institute of technology. I got my first job in Burie Industry park a company named Richland Biochemical production plc. I was Electrician and I did in substation, building installation, transformer wiring and testing, motor wiring and testing, maintaining power failurities and so much more.</p>	

					<p>After a year in Burie I moved to Bahir Dar for the same position        (Electrician)  and worked for almost half a year. I did in substation, control panels, maintainance,building installation and so much tasks.</p>

					<p>Now I'm a computer programmer spending dozens of hours in coding. I developed different window apps, web apps and systems especially in health and education center.</p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/telegram.png' %}"></li>
						<li><img class="social" src="{% static 'images/gmail.png' %}"></li>



					</ul>


				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>Full stack developer working remotely from my home.</p>
					<p>Designed, built and managed apps and webs as a developer</p>
					<p>Some of my works include, Student Management system, Customers Registration Database system, Attendance system, Hospital Management Software, Customer management web app,personal websites are very few of my works. </p>
					


				</div>
			</div>
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I know</h5>
					<hr>
					<p>Python, Django, HTML/CSS, Postgres, AWS, APIS such as google maps, and a whole bunch more I can't possibly mention in one senetence.</p>
					<p>PS: Working on Flutter, React, Data science and Machine learning.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I learn</h5>
					<hr>
					<p>My heart melts when I think of technology entrepreneurs!</p>
					<p>I can learn just about anything by having a final product to tear apart piece by piece. I break the code where I need to figure out why things work the way they do. Documentation is the best reference. Stack overflow and github are also the means to experince coding skill.</p>

				</div>
			</div>
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
					<p>I'm ready to learn something new. I'll collaborating and sharing my experience with others to build some important digital platform for my country.</p>
					<p>Aside from  building small projects I would love to enter a position where I can be part of a bigger team and learn from others with more experience than myself.</p>

					<h3>Find me on Facebbok,Telegram,Twitter, Linkedin, gmail and github</h3>

					<a target="_blank" href="https://t.me/johnny1111">Telegram: @johnny1111</a>
					<br>
					<a target="_blank" href="https://twitter.com/AyanaJohnny">Twitter: @AyanaJohnny</a>
					<br>
					<a target="_blank" href="https://www.facebook.com/joe.lawro/">Facebook: @Yohannes Ayana</a>
					<br>
					<a target="_blank" href=" https://www.linkedin.com/in/joe-lawro-478978217/ ">Linkedin: @joe lawro</a>
					<br>
					<a target="_blank" href="https://mail.google.com/mail/u/0/?tab=wm">Gmail: @Yohannes Ayana (gmail)</a>
					<br>
					<a target="_blank" href="https://github.com/Yohannes27/">Github: @Yohannes27</a>
					<p>Phone: (+251)925 63 60 99</p>
					<p>Nationality: ETHIOPIAN</p>



				</div>
			</div>
		</div>
		<br>
	</div>







</body>
</html>


















